{% extends "index.html" %}
{% block content %}
<a href="{% url 'note-create' %}">
    <button type="button" class="btn btn-outline-dark btn btn-outline-light me-2" style="float: right;">ADD NOTE</button>
</a>
<center>
    <h1 class="fw-light">Notes</h1>
</center>
<br>



<div class="container">
  <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3 g-3">
    {% for note in notes %}
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5>{{ note.title }}</h5>
            <small class="text-muted">habit: {{ note.habit }}</small>
          <p class="card-text">{{ note.body }}</p>
          <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{ note.date_pub }}</small>
            <div class="btn-group">
              <a href="{% url 'note-delete' note.id %}">
                <button type="button" class="btn btn-sm btn-outline-secondary">Delete note</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}