{% extends "index.html" %}
{% block content %}



<a href="{% url 'week-habit-create' %}">
    <button type="button" class="btn btn-outline-dark btn btn-outline-light me-2" style="float: right;">ADD HABIT</button>
</a>

<br><br>


<div class="justify-content-center">

    <div class="bd-example">
      <center>
      <table>
        <style class="table table-sm table-bordered">
           table {
            table-layout: fixed;
            width: 1300px;
            }
            td {
            border: 1px solid grey;
            }

         </style>

          <thead>
          <tr>
            <th scope="col">Habit</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
          </tr>
          </thead>
          {% for habit in habits %}
          <tbody>

          <td>{{ habit.habit }} <br>
              <a href="{% url 'week-habit-update' habit.id %}" class="text-muted">update</a><br>
              <a href="{% url 'week-habit-delete' habit.id %}" class="text-muted">delete</a>
          </td>

            <td>
            {% if habit.monday %}
              +
            {% else %}
                - <br>
            {% endif %}
          </td>

            {% if habit.tuesday %}
              <td>+</td>
            {% else %}
              <td>-</td>
            {% endif %}

            {% if habit.wednesday %}
              <td>+</td>
            {% else %}
              <td>-</td>
            {% endif %}


            {% if habit.thursday %}
              <td>+</td>
            {% else %}
              <td>-</td>
            {% endif %}

            {% if habit.friday %}
              <td>+</td>
            {% else %}
              <td>-</td>
            {% endif %}

            {% if habit.saturday %}
              <td>+</td>
            {% else %}
              <td>-</td>
            {% endif %}

            {% if habit.sunday %}
              <td>+</td>
            {% else %}
              <td>-</td>
            {% endif %}

          </td>
          <tr>
            <td>Hours in a day</td>
            <td>{{ habit.monday_hours }}</td>
            <td>{{ habit.tuesday_hours }}</td>
            <td>{{ habit.wednesday_hours }}</td>
            <td>{{ habit.thursday_hours }}</td>
            <td>{{ habit.friday_hours }}</td>
            <td>{{ habit.saturday_hours }}</td>
            <td>{{ habit.sunday_hours }}</td>

          </tr>
          </tbody>
          {% endfor %}

        </table>
        </center>
    </div>

</div>



{% endblock content %}


